* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20211014/pngtree-news-tv-broadcast-technology-background-image_909022.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.header {
    background: linear-gradient(135deg, #667eea, #764ba2);
    padding: 20px;
}

.header h1 {
    margin-bottom: 10px;
    color: limegreen;
}

.header p {
    font-size: 1.2em;
    padding-top: 10px;
    color: limegreen;
}

.header img {
    width: 100px;
    margin: 20px 0 10px 0;
}
.main-content {
    padding: 30px;
}

.suscripcion-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.suscripcion-form label {
    font-size: 1em;
    text-align: left;
    color: rgb(76, 204, 76);
}

.suscripcion-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
}

.suscripcion-form button {
    background: #764ba2;
    color: rgb(12, 63, 12);
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

.suscripcion-form button:hover {
    background: #2d39a8;
}

.footer {
    background: #f4f4f9;
    color: #999;
    padding: 10px;
    font-size: 0.9em;
}
